---
layout: page
description: "Somos uma comunidade de desenvolvedores apaixonados pelo PHP."
header-img: "blog/assets/img/ste-elephant.jpg"
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">{{ post.title }}</h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    {% assign months = "Janeiro|Fevereiro|Março|Abril|Maio|Junho|Julho|Agosto|Setembro|Outubro|Novembro|Dezembro" | split: "|" %}
    {% assign m = post.date | date: "%-m" | minus: 1 %}
    {% assign day = post.date | date: "%d" %}
    {% assign month = months[m] %}
    {% assign year = post.date | date: "%Y" %}
    <p class="post-meta">Postado por {% if post.author.name %}{{ post.author.name }}{% else %}{{ site.title }}{% endif %} em {{ day }} de {{ month }} de {{ year }}</p>

</div>
<hr>
{% endfor %}


{% if paginator.total_pages > 1 %}
<div class="container pager">
    {% if paginator.previous_page %}
    <div class="previous pull-left">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" class="btn btn-primary btn-round">&larr; Anterior</a>
    </div>
  {% endif %}

  {% if paginator.next_page %}
    <div class="next pull-right">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" class="btn btn-primary btn-round">Próximo &rarr;</a>
    </div>
  {% endif %}
</div>
{% endif %}
