
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        {% if site.github_username %}
                            <a href="https://github.com/{{ site.github_username }}" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                                <small>Gitgub PHPBrasil</small>
                            </a>
                        {% endif %}
                            <br>
                            <a href="https://telegram.me/phpbrasil" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-telegram fa-stack-1x fa-inverse"></i>
                                </span>
                                <small>Grupo no Telegram</small>
                            </a>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <span class="small text-muted">
                            Somos uma comunidade de desenvolvedores apaixonados pelo PHP.
                        </span>
                    </div>
                </div>

                <hr>

                <p class="copyright text-muted">
                    Comunidade PHP Brasil &copy; {{ site.copyright_name }} {{ site.time | date: '%Y' }}
                </p>

            </div><!---col-8 -->
        </div><!--./row -->
    </div><!--container -->
</footer>

    <script src="/blog/assets/js/jquery.min.js" type="text/javascript"></script>
    <script src="/blog/assets/js/core/tether.min.js" type="text/javascript"></script>
	<script src="/blog/assets/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/blog/assets/js/material.min.js"></script>

	<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
	<script src="/blog/assets/js/nouislider.min.js" type="text/javascript"></script>

	<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
	<script src="/blog/assets/js/bootstrap-datepicker.js" type="text/javascript"></script>

	<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
	<script src="/blog/assets/js/now-ui-kit.js" type="text/javascript"></script>

	<script type="text/javascript">
		$('[data-toggle="tooltip"]').tooltip();
	</script>
