<nav class="navbar navbar-transparent navbar-custom navbar-fixed-top navbar-color-on-scroll navbar-info">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.url }}"
                    data-toggle="tooltip" data-placement="bottom" title="{{ site.title }}">{{ site.title }}</a>
        </div>

        <div class="collapse navbar-collapse" id="navigation-example">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ site.url }}" target="_blank"
                        data-toggle="tooltip" data-placement="bottom" title="Conheça nossos trabalhos!">
                        <i class="material-icons">home</i> INICIO</a>
                </li>
                {% for page in site.pages %}{% if page.title %}
                {% if page.url != '/404.html' %}
                <li>
                    <a href="{{ page.url | prepend: site.baseurl }}" target="_blank"
                        data-toggle="tooltip" data-placement="bottom" title="{{ page.description }}">
                        <i class="material-icons"></i> {{ page.title }}</a>
                </li>
                {% endif %}
        {% endif %}{% endfor %}
                    
               
                <li>
                    <a href="https://github.com/brasil-php" target="_blank" class="btn btn-simple btn-white btn-just-icon" data-toggle="tooltip" data-placement="bottom" title="GitHub">
                        <i class="fa fa-github"></i>
                    </a>
                </li>
                <li>
                    <a href="https://telegram.me/phpbrasil" target="_blank" class="btn btn-simple btn-white btn-just-icon" data-toggle="tooltip" data-placement="bottom" title="Telegram"><i class="fa fa-telegram"></i>
                    </a>
                </li>
                   
            </ul>
        </div>
    </div>
</nav>