---
layout: default
---

<div class="page-header clear-filter" style="height: 69vh;" filter-color="blue">
    <div class="page-header-image" data-parallax="true" style="background-image: url('/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}'); transform: translate3d(0px, 0px, 0px);">
    </div>
    <div class="container">
        <div class="content-center brand">
            <img class="n-logo" src="{{ site.logo }}" height="111px" alt="">
            <p>
                <h4>{{ page.description }}</h4>
                <div class="separator separator-primary"></div>
            </p>
        </div>
        
    </div>
</div>

<div class="section section-about-us">
    <div class="container">
        <div class="section-story-overview">
            {{ content }}
        </div>
    </div>
</div>

