---
layout: default
---

<div class="page-header clear-filter" style="height: 69vh;" filter-color="blue">
    <div class="page-header-image" data-parallax="true" style="background-image: url('/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}'); transform: translate3d(0px, 0px, 0px);">
    </div>
    <div class="container">
        <div class="content-center brand">
            <img class="n-logo" src="{{ site.logo }}" alt="">
            <h1 class="h1-seo">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
            
            <h3>{{ page.description }}</h3>
            
            <div class="text-center">
                <a href="#pablo" class="btn btn-primary btn-icon  btn-icon-mini">
                    <i class="fa fa-facebook-square"></i>
                </a>
                <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#pablo" class="btn btn-primary btn-icon  btn-icon-mini">
                    <i class="fa fa-google-plus"></i>
                </a>
            </div>
        </div>
        
    </div>
</div>

<div class="section section-about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <h2 class="title">Who we are?</h2>
                <h5 class="description">According to the National Oceanic and Atmospheric Administration, Ted, Scambos, NSIDClead scentist, puts the potentially record low maximum sea ice extent tihs year down to low ice extent in the Pacific and a late drop in ice extent in the Barents Sea.</h5>
            </div>
        </div>
        <div class="separator separator-primary"></div>
        <div class="section-story-overview">
            {{ content }}
        </div>
    </div>
</div>

